# Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [4]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [5]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [9]:
Name = []
Matches = []
Points = []
Rating = []

In [10]:
soup = BeautifulSoup(page.content)

In [75]:
All = []
for i in soup.find_all("tr",class_="table-body"):
    All.append(i.text.split("\n"))
All_9 = All[0:9]
All_9

[['', '2', '', '', 'England', 'ENG', '', '27', '3,226', '119', ''],
 ['', '3', '', '', 'India', 'IND', '', '31', '3,447', '111', ''],
 ['', '4', '', '', 'Pakistan', 'PAK', '', '22', '2,354', '107', ''],
 ['', '5', '', '', 'Australia', 'AUS', '', '25', '2,548', '102', ''],
 ['', '6', '', '', 'South Africa', 'SA', '', '21', '2,111', '101', ''],
 ['', '7', '', '', 'Bangladesh', 'BAN', '', '30', '2,753', '92', ''],
 ['', '8', '', '', 'Sri Lanka', 'SL', '', '29', '2,658', '92', ''],
 ['', '9', '', '', 'West Indies', 'WI', '', '41', '2,902', '71', ''],
 ['', '10', '', '', 'Afghanistan', 'AFG', '', '18', '1,238', '69', '']]

In [76]:
df = pd.DataFrame(All_9, columns = ["Serial Number","1","2","3","Name","5","6","Matches","Points","Rating","10"])
df

  Serial Number   1 2 3          Name    5 6 Matches Points Rating 10
0                 2           England  ENG        27  3,226    119
1                 3             India  IND        31  3,447    111
2                 4          Pakistan  PAK        22  2,354    107
3                 5         Australia  AUS        25  2,548    102
4                 6      South Africa   SA        21  2,111    101
5                 7        Bangladesh  BAN        30  2,753     92
6                 8         Sri Lanka   SL        29  2,658     92
7                 9       West Indies   WI        41  2,902     71
8                10       Afghanistan  AFG        18  1,238     69

In [77]:
tr = df.drop(columns = ["1","2","3","5","6","10"])
tr

  Serial Number          Name Matches Points Rating
0                     England      27  3,226    119
1                       India      31  3,447    111
2                    Pakistan      22  2,354    107
3                   Australia      25  2,548    102
4                South Africa      21  2,111    101
5                  Bangladesh      30  2,753     92
6                   Sri Lanka      29  2,658     92
7                 West Indies      41  2,902     71
8                 Afghanistan      18  1,238     69

In [78]:
a = []
first = []
first_list = []
first = soup.find("tr",class_="rankings-block__banner")
a = first.text.split("\n")
df = pd.DataFrame(a)
dfx = df.transpose()
dfxx = dfx.drop(columns = [1,2,3,5,6,9,11,12,13,14])
dfxx.columns = ["Serial Number","Name","Matches","Points","Rating"]
dfxx

  Serial Number         Name Matches Points                           Rating
0                New Zealand      19  2,355                              124

In [97]:
output = pd.concat([dfxx,tr],ignore_index=True)
output

  Serial Number          Name Matches Points                           Rating
0                 New Zealand      19  2,355                              124
1                     England      27  3,226                              119
2                       India      31  3,447                              111
3                    Pakistan      22  2,354                              107
4                   Australia      25  2,548                              102
5                South Africa      21  2,111                              101
6                  Bangladesh      30  2,753                               92
7                   Sri Lanka      29  2,658                               92
8                 West Indies      41  2,902                               71
9                 Afghanistan      18  1,238                               69

# Top 10 ODI Batsmen along with the records of their team and rating.

In [98]:
page1 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page1

In [100]:
soup1 = BeautifulSoup(page1.content)

In [103]:
last9 = []
for i in soup1.find_all("tr",class_="table-body"):
    last9.append(i.text.split("\n"))
last9 = last9[0:9]
last9

[['',
  '',
  '',
  '',
  '                                    2',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Rassie van der Dussen',
  '',
  '',
  '',
  'SA',
  '',
  '789',
  ''],
 ['',
  '',
  '',
  '',
  '                                    3',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Quinton de Kock',
  '',
  '',
  '',
  'SA',
  '',
  '784',
  ''],
 ['',
  '',
  '',
  '',
  '                                    4',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Imam-ul-Haq',
  '',
  '',
  '',
  'PAK',
  '',
  '779',
  ''],
 ['',
  '',
  '',
  '',
  '                                    5',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Virat Kohli',
  '',
  '',
  '',
  'IND',
  '',
  '744',
  ''],
 ['',
  '',
  '',
  '',
  '                                    6',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Rohit Sharma',
  '',
  '',
  '',
  'IND',
  '',
  '740',
  ''],
 ['',
  '',
  '',
  '',
  '                                    7',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'David Warner',
  '',
  '',
  '',
  'AUS',
  '',
  '739',
  ''],
 ['',
  '',
  '',
  '',
  '                                    8',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Jonny Bairstow',
  '',
  '',
  '',
  'ENG',
  '',
  '732',
  ''],
 ['',
  '',
  '',
  '',
  '                                    9',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Ross Taylor',
  '',
  '',
  '',
  'NZ',
  '',
  '722',
  ''],
 ['',
  '',
  '',
  '',
  '                                    10',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Aaron Finch',
  '',
  '',
  '',
  'AUS',
  '',
  '706',
  '']]

In [104]:
df1 = pd.DataFrame(last9)
df1

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,,,,,2,,,,(0),,...,,,Rassie van der Dussen,,,,SA,,789,
1,,,,,3,,,,(0),,...,,,Quinton de Kock,,,,SA,,784,
2,,,,,4,,,,(0),,...,,,Imam-ul-Haq,,,,PAK,,779,
3,,,,,5,,,,(0),,...,,,Virat Kohli,,,,IND,,744,
4,,,,,6,,,,(0),,...,,,Rohit Sharma,,,,IND,,740,
5,,,,,7,,,,(0),,...,,,David Warner,,,,AUS,,739,
6,,,,,8,,,,(0),,...,,,Jonny Bairstow,,,,ENG,,732,
7,,,,,9,,,,(0),,...,,,Ross Taylor,,,,NZ,,722,
8,,,,,10,,,,(0),,...,,,Aaron Finch,,,,AUS,,706,

In [114]:
dfx1 = df1.drop(columns = [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,18,20])
dfx1.columns = ["Serial Number","Name","Team","Rating"]
dfx1

  Serial Number                   Name Team Rating
0                Rassie van der Dussen   SA    789
1                      Quinton de Kock   SA    784
2                          Imam-ul-Haq  PAK    779
3                          Virat Kohli  IND    744
4                         Rohit Sharma  IND    740
5                         David Warner  AUS    739
6                       Jonny Bairstow  ENG    732
7                          Ross Taylor   NZ    722
8                          Aaron Finch  AUS    706

In [123]:
a1 = []
first1 = []
first_list1 = []
first1 = soup1.find("div",class_="rankings-block__banner--player-info")
first1.text
a1 = first1.text.split("\n")
df11 = pd.DataFrame(a1)
dfx11 = df11.transpose()
dfx11
dfxx11 = dfx11.drop(columns = [2,3,6,7])
dfxx11.columns = ["Serial Number","Name","Team","Rating"]
dfxx11

  Serial Number        Name Team                           Rating
0                Babar Azam  PAK                              890

In [124]:
output1 = pd.concat([dfxx11,dfx1],ignore_index=True)
output1

  Serial Number                   Name Team                           Rating
0                           Babar Azam  PAK                              890
1                Rassie van der Dussen   SA                              789
2                      Quinton de Kock   SA                              784
3                          Imam-ul-Haq  PAK                              779
4                          Virat Kohli  IND                              744
5                         Rohit Sharma  IND                              740
6                         David Warner  AUS                              739
7                       Jonny Bairstow  ENG                              732
8                          Ross Taylor   NZ                              722
9                          Aaron Finch  AUS                              706

# Top 10 ODI bowlers along with the records of their team and rating.

In [129]:
page2 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page2

In [130]:
soup2 = BeautifulSoup(page2.content)

In [135]:
bowling = []
for i in soup2.find_all("tr",class_="table-body"):
    bowling.append(i.text.split("\n"))
bowling

[['',
  '',
  '',
  '',
  '                                    2',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Josh Hazlewood',
  '',
  '',
  '',
  'AUS',
  '',
  '678',
  '',
  '                                733 v England, 26/01/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    3',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mujeeb Ur Rahman',
  '',
  '',
  '',
  'AFG',
  '',
  '676',
  '',
  '                                712 v Ireland, 24/01/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    4',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Jasprit Bumrah',
  '',
  '',
  '',
  'IND',
  '',
  '662',
  '',
  '                                841 v West Indies, 01/11/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    5',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Shaheen Afridi',
  '',
  '',
  '',
  'PAK',
  '',
  '661',
  '',
  '                                688 v West Indies, 10/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    6',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mohammad Nabi',
  '',
  '',
  '',
  'AFG',
  '',
  '657',
  '',
  '                                657 v Zimbabwe, 09/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    7',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mehedi Hasan',
  '',
  '',
  '',
  'BAN',
  '',
  '655',
  '',
  '                                725 v Sri Lanka, 25/05/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    8',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Rashid Khan',
  '',
  '',
  '',
  'AFG',
  '',
  '651',
  '',
  '                                806 v Pakistan, 21/09/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    9',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Matt Henry',
  '',
  '',
  '',
  'NZ',
  '',
  '644',
  '',
  '                                691 v Bangladesh, 26/03/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    10',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mustafizur Rahman',
  '',
  '',
  '',
  'BAN',
  '',
  '640',
  '',
  '                                695 v West Indies, 14/12/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    11',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Chris Woakes',
  '',
  '',
  '',
  'ENG',
  '',
  '640',
  '',
  '                                711 v Sri Lanka, 04/07/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    12',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Pat Cummins',
  '',
  '',
  '',
  'AUS',
  '',
  '631',
  '',
  '                                729 v Pakistan, 12/06/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    13',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Andy McBrine',
  '',
  '',
  '',
  'IRE',
  '',
  '630',
  '',
  '                                646 v West Indies, 16/01/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    14',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Kagiso Rabada',
  '',
  '',
  '',
  'SA',
  '',
  '625',
  '',
  '                                724 v England, 29/05/2017',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    15',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved up in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Mitchell Starc',
  '',
  '',
  '',
  'AUS',
  '',
  '620',
  '',
  '                                783 v New Zealand, 29/03/2015',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    16',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved down in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Shakib Al Hasan',
  '',
  '',
  '',
  'BAN',
  '',
  '619',
  '',
  '                                717 v Zimbabwe, 05/11/2009',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    17',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Alzarri Joseph',
  '',
  '',
  '',
  'WI',
  '',
  '609',
  '',
  '                                623 v New Zealand, 17/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    18',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mitchell Santner',
  '',
  '',
  '',
  'NZ',
  '',
  '605',
  '',
  '                                663 v England, 25/02/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    19',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Yuzvendra Chahal',
  '',
  '',
  '',
  'IND',
  '',
  '604',
  '',
  '                                730 v New Zealand, 23/01/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    20',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Adam Zampa',
  '',
  '',
  '',
  'AUS',
  '',
  '603',
  '',
  '                                650 v Pakistan, 29/03/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    21',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Lungi Ngidi',
  '',
  '',
  '',
  'SA',
  '',
  '577',
  '',
  '                                621 v Australia, 04/03/2020',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    22',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mark Watt',
  '',
  '',
  '',
  'SCO',
  '',
  '574',
  '',
  '                                579 v UAE, 14/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    23',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Akeal Hosein',
  '',
  '',
  '',
  'WI',
  '',
  '573',
  '',
  '                                577 v New Zealand, 19/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    24',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'David Willey',
  '',
  '',
  '',
  'ENG',
  '',
  '569',
  '',
  '                                569 v South Africa, 24/07/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    25',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Tabraiz Shamsi',
  '',
  '',
  '',
  'SA',
  '',
  '567',
  '',
  '                                597 v Bangladesh, 20/03/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    26',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Ahmed Raza',
  '',
  '',
  '',
  'UAE',
  '',
  '555',
  '',
  '                                562 v Papua New Guinea, 15/03/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    27',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Akila Dananjaya',
  '',
  '',
  '',
  'SL',
  '',
  '546',
  '',
  '                                651 v England, 23/10/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    28',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Lachlan Ferguson',
  '',
  '',
  '',
  'NZ',
  '',
  '544',
  '',
  '                                668 v West Indies, 22/06/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    29',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mark Wood',
  '',
  '',
  '',
  'ENG',
  '',
  '543',
  '',
  '                                615 v Afghanistan, 18/06/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    30',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Keshav Maharaj',
  '',
  '',
  '',
  'SA',
  '',
  '541',
  '',
  '                                549 v England, 22/07/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    31',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Dushmantha Chameera',
  '',
  '',
  '',
  'SL',
  '',
  '537',
  '',
  '                                552 v Australia, 16/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    32',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Shadab Khan',
  '',
  '',
  '',
  'PAK',
  '',
  '536',
  '',
  '                                607 v South Africa, 22/01/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    33',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Tim Southee',
  '',
  '',
  '',
  'NZ',
  '',
  '536',
  '',
  '                                638 v England, 20/02/2015',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    34',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Bhuvneshwar Kumar',
  '',
  '',
  '',
  'IND',
  '',
  '535',
  '',
  '                                657 v West Indies, 17/10/2014',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    35',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Kuldeep Yadav',
  '',
  '',
  '',
  'IND',
  '',
  '535',
  '',
  '                                765 v New Zealand, 26/01/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    36',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Sandeep Lamichhane',
  '',
  '',
  '',
  'NEP',
  '',
  '534',
  '',
  '                                540 v Namibia, 16/07/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    37',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Bilal Khan',
  '',
  '',
  '',
  'OMA',
  '',
  '532',
  '',
  '                                545 v United States, 12/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    38',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mohammad Shami',
  '',
  '',
  '',
  'IND',
  '',
  '532',
  '',
  '                                654 v Bangladesh, 19/03/2015',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    39',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Wanindu Hasaranga',
  '',
  '',
  '',
  'SL',
  '',
  '531',
  '',
  '                                546 v Australia, 14/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    40',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Adil Rashid',
  '',
  '',
  '',
  'ENG',
  '',
  '506',
  '',
  '                                687 v Sri Lanka, 20/10/2018',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    41',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Taskin Ahmed',
  '',
  '',
  '',
  'BAN',
  '',
  '498',
  '',
  '                                528 v West Indies, 10/07/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    42',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Saurabh Netravalkar',
  '',
  '',
  '',
  'USA',
  '',
  '497',
  '',
  '                                500 v UAE, 11/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    43',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Mohammad Nawaz',
  '',
  '',
  '',
  'PAK',
  '',
  '495',
  '',
  '                                500 v Netherlands, 18/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    44',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Simi Singh',
  '',
  '',
  '',
  'IRE',
  '',
  '493',
  '',
  '                                507 v Zimbabwe, 13/09/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    45',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Ravindra Jadeja',
  '',
  '',
  '',
  'IND',
  '',
  '491',
  '',
  '                                738 v Zimbabwe, 01/08/2013',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    46',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Colin de Grandhomme',
  '',
  '',
  '',
  'NZ',
  '',
  '487',
  '',
  '                                523 v Netherlands, 04/04/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    47',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Dwaine Pretorius',
  '',
  '',
  '',
  'SA',
  '',
  '485',
  '',
  '                                539 v Australia, 06/07/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    48',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Blessing Muzarabani',
  '',
  '',
  '',
  'ZIM',
  '',
  '480',
  '',
  '                                515 v Afghanistan, 09/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    49',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Haris Rauf',
  '',
  '',
  '',
  'PAK',
  '',
  '479',
  '',
  '                                484 v Netherlands, 18/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    50',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Zeeshan Maqsood',
  '',
  '',
  '',
  'OMA',
  '',
  '478',
  '',
  '                                478 v Nepal, 14/06/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    51',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved up in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Ish Sodhi',
  '',
  '',
  '',
  'NZ',
  '',
  '475',
  '',
  '                                509 v Netherlands, 04/04/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    52',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved up in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Chad Soper',
  '',
  '',
  '',
  'PNG',
  '',
  '474',
  '',
  '                                469 v Oman, 16/04/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    53',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved up in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'M. Prasidh Krishna',
  '',
  '',
  '',
  'IND',
  '',
  '473',
  '',
  '                                481 v West Indies, 11/02/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    54',
  '                                ',
  '',
  '',
  '',
  '',
  '(1)',
  'This player has moved up in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Hamza Tahir',
  '',
  '',
  '',
  'SCO',
  '',
  '472',
  '',
  '                                484 v Nepal, 17/07/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    55',
  '                                ',
  '',
  '',
  '',
  '',
  '(4)',
  'This player has moved down in the rankings since the previous rankings update',
  '',
  '',
  '',
  '',
  'Jhye Richardson',
  '',
  '',
  '',
  'AUS',
  '',
  '471',
  '',
  '                                548 v Pakistan, 24/03/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    56',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Rohan Mustafa',
  '',
  '',
  '',
  'UAE',
  '',
  '470',
  '',
  '                                496 v Namibia, 08/03/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    57',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Taijul Islam',
  '',
  '',
  '',
  'BAN',
  '',
  '469',
  '',
  '                                469 v Zimbabwe, 10/08/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    58',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Jason Holder',
  '',
  '',
  '',
  'WI',
  '',
  '464',
  '',
  '                                486 v Sri Lanka, 10/03/2021',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    59',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Kaleemullah',
  '',
  '',
  '',
  'OMA',
  '',
  '462',
  '',
  '                                476 v Papua New Guinea, 16/04/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    60',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Craig Young',
  '',
  '',
  '',
  'IRE',
  '',
  '462',
  '',
  '                                470 v West Indies, 16/01/2022',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    61',
  '                                ',
  '',
  '',
  '(0)',
  '',
  '',
  '',
  '',
  'Andile Phehlukwayo',
  '',
  '',
  '',
  'SA',
  '',
  '459',
  '',
  '                                613 v Pakistan, 30/01/2019',
  '                        ',
  ''],
 ['',
  '',
  '',
  '',
  '                                    62',
  '                                ',
  '',
  '',
  '(0)',

In [162]:
bowling_df = pd.DataFrame(bowling)
bowling_df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,,,,,2,,,,(0),,...,AUS,,678,,"733 v England,...",,,None,None,None
1,,,,,3,,,,(0),,...,AFG,,676,,"712 v Ireland,...",,,None,None,None
2,,,,,4,,,,(0),,...,IND,,662,,841 v West Ind...,,,None,None,None
3,,,,,5,,,,(0),,...,PAK,,661,,688 v West Ind...,,,None,None,None
4,,,,,6,,,,(0),,...,AFG,,657,,657 v Zimbabwe...,,,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,,,,,96,,,,,,...,,,,IRE,,390,,394 v New Zeal...,,
95,,,,,97,,,,,,...,,,,NEP,,390,,"399 v Namibia,...",,
96,,,,,98,,,,,,...,,,,NEP,,387,,397 v Scotland...,,
97,,,,,99,,,,,,...,,,,PNG,,386,,"379 v Oman, 12...",,
98,,,,,100,,,,,,...,,,,SA,,380,,550 v West Ind...,,

In [163]:
bowling_df = bowling_df.drop(columns = [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,18,20,21,22,23,24,25,26])
bowling_df = bowling_df[0:9]
bowling_df.columns = ["Serial Number","Name","Team","Rating"]
bowling_df

  Serial Number               Name Team Rating
0                   Josh Hazlewood  AUS    678
1                 Mujeeb Ur Rahman  AFG    676
2                   Jasprit Bumrah  IND    662
3                   Shaheen Afridi  PAK    661
4                    Mohammad Nabi  AFG    657
5                     Mehedi Hasan  BAN    655
6                      Rashid Khan  AFG    651
7                       Matt Henry   NZ    644
8                Mustafizur Rahman  BAN    640

In [164]:
bowling_first = []
bowling_first = soup2.find("tr","rankings-block__banner")
bowling_first = bowling_first.text.split("\n")
bowling_first_df = pd.DataFrame(bowling_first)
bowling_first_df = bowling_first_df.transpose()
bowling_first_df = bowling_first_df.drop(columns = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,28,29,30,32,33,34,35,36,37,38,39,40,41,42])
bowling_first_df.columns = ["Serial Number","Name","Team","Rating"]
bowling_first_df

  Serial Number         Name Team Rating
0                Trent Boult   NZ    720

In [165]:
Bowling_Output = pd.concat([bowling_first_df,bowling_df],ignore_index=True)
Bowling_Output

  Serial Number               Name Team Rating
0                      Trent Boult   NZ    720
1                   Josh Hazlewood  AUS    678
2                 Mujeeb Ur Rahman  AFG    676
3                   Jasprit Bumrah  IND    662
4                   Shaheen Afridi  PAK    661
5                    Mohammad Nabi  AFG    657
6                     Mehedi Hasan  BAN    655
7                      Rashid Khan  AFG    651
8                       Matt Henry   NZ    644
9                Mustafizur Rahman  BAN    640